.languageSelector {
	display: flex;
	height: 40px;
	align-items: flex-start;
	gap: 4px;
	align-self: stretch;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	/* приховування скролбара */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}
.languageItem {
	display: flex;
	height: 100%;
	padding: 8px 20px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	flex: 1 0 0;
	border-radius: 60px;
	border: 1px solid var(--Stroke);

	color: var(--Dark);
	text-align: center;
	font-family: var(--font-family);
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}
.languageItem.errorLang {
	border: 1px solid red;
	color: red;
}
.active {
	background: var(--Dark);
	border: 2px solid var(--Dark);
	color: var(--white);
	font-weight: 600;
}

.mainForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	flex: 1 0 0;

	border-radius: 20px;
}
.mainContentList {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 24px;
	align-self: stretch;
}
.error {
	color: red;
}

.photoLabel {
	width: 100%;
}
.imgList {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	align-items: center;
	gap: 4px;
}
.imgItem {
	display: flex;
	width: calc((100% - 4px) / 2);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	/* flex: 1 1 0; */
	align-self: stretch;
	position: relative;
	overflow: hidden;

	border-radius: 30px;
	border: 1px dashed var(--Stroke);
}
.upLoad {
	border-radius: 0px;
	border: 1px solid var(--Stroke);
}
.imgMain {
	display: flex;
	width: 100%;
	object-fit: contain;
}

.upLoadIcon {
	width: 20px;
	height: 20px;
	stroke: var(--Dark);
	fill: none;
}
.imgInputHidden {
	display: none;
}
.imgUploadLabel {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 80px;
	height: 80px;
}
.btnBlock {
	display: flex;
	padding: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex: 1 0 0;
	align-self: stretch;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.replaceBlock,
.deleteBlock {
	display: flex;
	width: 89px;
	padding: 10px;
	justify-content: center;
	align-items: center;
	gap: 16px;

	border-radius: 40px;
	border: 2px solid var(--White);
	background: rgba(51, 55, 53, 0.4);
	backdrop-filter: blur(2px);
}
.replaceBlock:hover {
	cursor: pointer;
	background: var(--Stroke-light);
}
.deleteIcon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	fill: var(--white);
}

.sendBtn {
	display: flex;
	height: 40px;
	padding: 10px 40px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	border-radius: 40px;
	border: 2px solid var(--Stroke-1);

	color: var(--Dark);
	text-align: center;
	font-family: var(--font-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
.sendBtn:hover {
	background: var(--Dark);
	color: var(--White);
}
.successMessage {
	color: #28a745; /* зелений */
	background-color: #e6f4ea;
	border: 1px solid #28a745;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 15px;
	font-weight: 500;
	text-align: center;
	animation: fadeIn 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
	.languageItem {
		font-size: 14px;
		padding: 8px 24px;
		border: 2px solid var(--Stroke);
	}
	.languageSelector {
		gap: 8px;
	}
	.imgList {
		flex-wrap: nowrap;
		height: 192px;
	}
	.imgItem {
		flex: 1 0 0;
	}
	.upLoad {
		border: none;
	}
}
@media screen and (min-width: 1280px) {
	.languageItem {
		font-size: 16px;
	}
	.imgList {
		height: auto;
	}
	.imgItem {
		width: calc((100% - 16px) / 5);
		aspect-ratio: 195 / 221;
	}
}
