.sliderContainer {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0 16px;
}
.swiper {
	display: flex;
	width: 100%;
}

.slide {
	display: flex;
	width: 100%;
	flex-direction: column;
	gap: 40px;
}
.selectList {
	display: flex;
	height: 40px;
	width: 100%;
	align-items: flex-start;
	gap: 4px;
	align-self: stretch;
	padding-bottom: 32px;

	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;

	/* приховування скролбара */
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* Internet Explorer 10+ */
}
.selectItem,
.active {
	display: flex;
	padding: 8px 20px;
	height: auto;
	justify-content: center;
	align-items: center;
	gap: 16px;
	flex: 1 0 0;
	border-radius: 60px;

	text-align: center;
	font-family: var(--font-family);
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	white-space: nowrap;
}
.selectItem {
	border: 2px solid var(--Stroke-1);
	height: auto;
	color: var(--Dark);
	font-weight: 400;
	cursor: pointer;
}
.selectItem:hover,
.active {
	background: var(--Dark);
	color: var(--White);
	font-weight: 600;
}
.slideArticleDescription {
	max-height: 600px;
	overflow-y: auto;
	padding: 16px 0;
}
.articleTitle,
.articleText {
	color: var(--Dark);
	font-feature-settings: "liga" off, "clig" off;
	line-height: 200%;
	white-space: pre-line;
}
.articleTitle {
	font-family: var(--second-family);
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	text-transform: uppercase;
}
.articleText {
	font-family: var(--font-family);
	font-size: 14px;
	font-style: normal;
	font-weight: 300;
}

.paginationBlock {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	position: relative;
}

.navButton_icon {
	stroke: var(--background);
	min-width: 24px;
	height: 24px;
}
/* Навигационные кнопки */
.navButton {
	background: var(--White);
	padding: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 9;
	border: none;
}
.left {
	transform: rotate(180deg);
}
@media screen and (min-width: 768px) {
	.sliderContainer {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding: 0 32px;
	}
	.slide {
		max-height: 400px;
	}
	.slideArticleDescription {
		max-height: 300px;
		overflow-y: auto;
	}
	.articleTitle {
		font-size: 20px;
	}
	.articleText {
		font-size: 16px;
	}
	.selectItem,
	.active {
		font-size: 16px;
	}
}
@media screen and (min-width: 1280px) {
	.sliderContainer {
		aspect-ratio: 668 / 850;
		justify-content: space-between;
		gap: 0;
		padding: 0;
	}
	.slide {
		max-height: 660px;
	}
	.slideArticleDescription {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
		align-self: stretch;
		min-height: 512px;
	}
	.articleTitle {
		font-size: 24px;
	}
	.articleText {
		font-size: 20px;
	}
}
