.form {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	flex: 1 0 0;
}
.fieldList {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 24px;
	align-self: stretch;
}
.addSocial {
	display: flex;
	padding: 12px 44px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	align-self: stretch;

	border-radius: 60px;
	border: 2px solid var(--Dark);
	background: var(--Dark);

	color: var(--White);
	text-align: center;
	font-feature-settings: "liga" off, "clig" off;
	font-family: var(--font-family);
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 150%; /* 24px */
	text-transform: uppercase;
}
.addSocial:hover {
	color: var(--Dark);
}
.successMessage {
	color: #28a745; /* зелений */
	background-color: #e6f4ea;
	border: 1px solid #28a745;
	padding: 10px 15px;
	border-radius: 5px;
	margin-bottom: 15px;
	font-weight: 500;
	text-align: center;
	animation: fadeIn 0.3s ease-in-out;
}
