.logoTitle {
	color: var(--Dark);
	font-feature-settings: "liga" off, "clig" off;
	font-family: var(--second-family);
	font-size: 14px;
	font-style: italic;
	font-weight: 400;
	line-height: 200%;
	text-transform: uppercase;
}
.headerWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menuHead {
	position: fixed;
	top: 72px;
	left: -100%;
	height: calc(100% - 72px);
	width: 100%;
	background: var(--White);
	padding: 40px 0px 40px;
	z-index: 10;
	transition: left 1000ms ease;
}

.open {
	position: fixed;
	top: 72px;
	bottom: 0;
	left: 0;
	overflow: auto;
	background: var(--White);
	transform: translateX(0);
	z-index: 10;
}
@media screen and (min-width: 768px) {
	.logoTitle {
		font-size: 18px;
	}
}
@media screen and (min-width: 768px) {
	.logoTitle {
		font-size: 20px;
	}
}
