.sliderContainer {
	width: 100%;
	margin: auto;
}

.swiper {
	/* height: 448px; */
	aspect-ratio: 375 / 440;
}

.slide {
	display: flex;
	justify-content: center;
}
.heroItem {
	display: flex;
	width: 100%;
}
.image {
	display: flex;
	width: 100%;
}
.paginationBlock {
	display: flex;
	height: 40px;
	padding: 0 16px;
	justify-content: space-between;
	align-items: center;
	align-self: stretch;
	position: relative;
}

.navButton {
	background: var(--White);
	padding: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	z-index: 9;
	border: none;
}

.navButton_icon {
	stroke: var(--background);
	min-width: 24px;
	height: 24px;
}

@media screen and (min-width: 768px) {
	.sliderContainer {
		max-width: 100%;
	}
	.swiper {
		padding-bottom: 12px;
		aspect-ratio: 768 / 480;
	}
	.paginationBlock {
		padding: 0 32px;
	}
}

@media screen and (min-width: 1280px) {
	.heroSwiper {
		display: none;
	}
}
